@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: black;
    border-bottom: 1px solid white;
    padding: 1rem;
    font-size: 1rem;
}

nav .brand {
    font-size: 1.5rem;
    font-weight: bold;
}

nav .nav-items a {
    margin: 0 1rem;
}

a {
    color: white;
    text-decoration: none;
}

/* body styles */
.main-conatiner {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: 1rem 2rem;
    position: relative;
}

.content {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}


.item {
    border: 1px solid black;
    width: 20%;
}

.item img {
    max-width: 100%;
}

.item .row {
    display: flex;
    justify-content: space-between;
}

.item .info {
    padding: 0.5rem;
}

.item button {
    width: 100%;
    border-radius: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    cursor: pointer;
}

.item .colors {
    display: flex;
    margin: 0.5rem 0;
}

.item .colors .row {
    margin-left: 0.5rem;
}

.item .circle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 0 5px;
}

.item .ratings {
    display: flex;
    margin: 0.5rem 0;
}

.item .ratings .row {
    margin-left: 0.75rem;
    display: flex;
    gap: 0.25rem;
}

.heading {
    font-weight: 400;
    font-size: 40px;
}

.login {
    background-color: black;
    color: white;
    width: 120px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.signup {
    background-color: white;
    width: 120px;
    height: 32px;
    border: 1.4px solid black;
    cursor: pointer;
}

.bg-img {
    position: absolute;
    width: 800px;
    right: 0;
    top: 55px;
}

.mobile-nav {
    display: none;
}

.nav-links a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile-nav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-links {
    display: block;
    position: absolute;
    display: none;
    width: 100vw;
    background-color: black;
    top: 60px;
    right: 0;
}

@media only screen and (max-width: 1250px) {

    .bg-img {
        width: 600px;
        top: 135px;
    }
}

@media only screen and (max-width: 853px) {

    .bg-img {
        width: 500px;
        top: 150px;
    }

    .item {
        width: 27%;
        z-index: 100;
    }
}

@media only screen and (max-width: 680px) {

    nav {
        font-size: 12px;

    }

    nav .nav-items a {
        margin: 0 0.5rem;
    }

    .bg-img {
        width: 362px;
        top: 202px;
        left: -7px;
        position: relative;
        top: 0;
        align-self: center;
    }


    .item {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
        overflow: hidden;
    }

    .item .info {
        padding: 0 0.5rem;
    }

    .item .colors {
        padding: 0;
    }
}

@media only screen and (max-width: 576px) {

    .nav-items {
        display: none;
    }

    .mobile-nav {
        display: block;
    }

    .menu-btn i {
        font-size: 1.5rem;
    }
}